.preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .preloader-spinner {
    border: 8px solid transparent;
    border-top: 8px solid transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite, changeColors 3s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes changeColors {
    0% {
      border-left: 8px solid #f3f3f3;
      border-bottom: 8px solid #f3f3f3;
    }
    50% {
      border-left: 8px solid rgb(6, 182, 212);
      border-bottom: 8px solid rgb(6, 182, 212);
    }
    100% {
      border-left: 8px solid rgb(251, 191, 36);
      border-bottom: 8px solid rgb(251, 191, 36);
    }
  }